@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* font-family: "Bebas Neue", sans-serif; */

@font-face {
  font-family: 'Android';
  src: url('/fontes//idroid.otf') format('opentype');
  font-weight: normal;
}

*{
  margin: 0px;
  padding: 0px;
}

:root{
--cor0:#ebe5c5;
--cor01:#83e1ad;
--cor02:#3ddc84;
--cor03:#2fa866;
--cor04:#1a5c37;
--cor05:#063d1e;

--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--font-destaque:"Bebas Neue", sans-serif;
--fonte-android:'Android', sans-serif; 
}

body{
  background-color: var(--cor0);
  font-family: var(--fonte-padrao);
}

header{
  background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
  min-height: 150px; /* Fica perceptivel quando diminui a tela */
  text-align: center;
  padding-top: 40px;
}

header > h1{
  color: white;
  font-family: var(--font-destaque);
  font-weight: normal; /* Sempre coloque para garantir a normalidade */
  margin-bottom: 20px; /* Fica perceptível quando diminui a tela */
  font-size: 3em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.562);
}

a.externo::after {
  content: '\00A0\1F517'; /* Cria um espacamento e o emoji */
}

header > p{
  color: white;
  font-family: var(--fonte-padrao);
  font-size: 1.2em; /* Aumenta o tamanho do texto */
  max-width: 600px; /* Largura maxima */
  margin: auto; /* Centraliza o texto */
  padding-bottom: 51px; /* Fica perceptivel quando diminui a tela */
  padding-left: 10px; /* Fica perceptivel quando diminui a tela */
  padding-right: 10px; /* Fica perceptivel quando diminui a tela */
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.562);
}

nav{
  background-color: var(--cor05);
  padding: 10px;
  text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.404);
}

nav > a{
  color: white;
  padding: 10px; 
  border-radius: 5px; /* Arredonda as bordas */
  text-decoration: none; /* Tira o sublinhado */
  font-weight: bold; /* Negrito */
  transition-duration: 0.5s; /* Duração da transição ao passar o mouse */


}

nav > a:hover{
  color: #ff0000;
  background-color: #1100fd;
  padding: 5px; /* faz um efeito especial em comparação com padding:10px; */
}

main{
  background-color: white;
  margin: auto; /* Centraliza o conteudo */
  margin-bottom: 30px; 
  max-width: 1000px; /* Largura maxima */
  min-width: 300px; /* Largura minima */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
  border-bottom-left-radius: 10px; /* Arredonda as bordas */
  border-bottom-right-radius: 10px; /* Arredonda as bordas */
}

main img{
  width: 100%; /* Largura maxima da imagem e centraliza o conteudo */
}

main img.pequena{
  max-width: 350px; /* Largura maxima da imagem */
  display: block; /* Centraliza o conteudo em bloco */
  margin: auto; /* Centraliza o conteudo */
}

main h1{
  color: var(--cor05);
  font-family: var(--fonte-android);
  font-weight: normal;
}

main h2{
  font-family: var(--fonte-android);
  color: var(--cor04);
  font-size: 1.3em; /* Tamanho do texto */
  background-image: linear-gradient(to right, var(--cor01), transparent);
  text-indent: 8px; /* Indenta o conteudo */
  font-weight: normal; /* Sempre coloque para garantir a normalidade */
}

main  p{
  margin:  15px 0px;
  text-align: justify; /* Centraliza o texto */
  text-indent: 30px;
  font-size: 1em;
  line-height: 2em; /* Espacamento entre as linhas */
}

main strong{
color: var(--cor04);
font-weight: bold; /* Negrito */
}



main a{
  text-decoration: none; /* Tira o sublinhado */
  font-weight: bold; /* Negrito */
  color: var(--cor05);
  background-color: var(--cor01);
  padding: 2px 6px;
}

main a:hover{
  text-decoration: underline; /* Coloca o sublinhado */
  color: var(--cor04);
}

div.video{
  background-color: var(--cor05);
  margin: 0px -20px 30px -20px; /* Margem externa */
  padding: 20px; /* Espacamento interno */
  padding-bottom: 56.5%; /* Vai definir a borda preta do vídeo */
  position: relative;
}

div.video > iframe{
  position: absolute; 
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside{
  background-color: var(--cor01);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.363);
}

aside > ul{
  list-style-type: '\2714\00A0\00A0'; /* Coloca o marcador dentro da lista */
  list-style-position: inside; /* Coloca o marcador dentro da lista */
  columns: 2; /* Cria duas colunas */
}


aside > h3{
  background-color: var(--cor04);
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

footer{
  background-color: var(--cor05);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}

footer a{
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
  color: var(--cor01);
}

